# Data acquisition

In [1]:
import pandas as pd
import functions.data_acquisition as data_funcs

## 1. NTSB incident data

Data source: [NTSB Downloadable Aviation Datasets](https://data.ntsb.gov/avdata)

### 1.1. Download

In [2]:
url='https://data.ntsb.gov/avdata/FileDirectory/DownloadFile?fileID=C%3A%5Cavdata%5Cavall.zip'
data_funcs.download_data(url)

### 1.2. Parse

Uses [access_parser](https://github.com/claroty/access_parser) to convert Microsoft Access database file to CSV and then read into Pandas DataFrame.

In [3]:
file='avall.mdb'
table=data_funcs.parse_mdb(file)

{'MSysObjects': 2, 'aircraft': 18, 'Country': 35, 'ct_iaids': 37, 'ct_seqevt': 20, 'dt_aircraft': 70, 'dt_events': 73, 'dt_Flight_Crew': 76, 'eADMSPUB_DataDictionary': 79, 'engines': 1364, 'events': 1367, 'Events_Sequence': 1370, 'Findings': 1373, 'Flight_Crew': 961, 'flight_time': 964, 'injury': 967, 'MSysNavPaneGroupCategories': 1406, 'MSysNavPaneGroups': 1396, 'MSysNavPaneGroupToObjects': 1411, 'MSysNavPaneObjectIDs': 1416, 'narratives': 1419, 'NTSB_Admin': 1422, 'Occurrences': 1425, 'seq_of_events': 1428, 'states': 1430}

### 1.3. Read

In [5]:
aircraft_df=pd.read_csv('../data/raw/aircraft.csv',low_memory=False)
aircraft_df.head()

,Aircraft_Key,cert_max_gr_wt,fc_seats,cc_seats,pax_seats,total_seats,num_eng,date_last_insp,afm_hrs_last_insp,afm_hrs,...,lchg_userid,afm_hrs_since,rwy_num,site_seeing,air_medical,med_type_flight,fuel_on_board,elt_manufacturer,elt_model,elt_reason_other
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,gibs-i,N,NaN,N,N,NaN,NaN,NaN,NaN,NaN
1,1,2400.0,NaN,NaN,NaN,4.0,1.0,2007-04-01 00:00:00,75.0,2865.0,...,NaN,Y,7,N,N,NaN,NaN,NaN,NaN,NaN
2,2,1960.0,NaN,NaN,NaN,2.0,1.0,2007-01-01 00:00:00,NaN,340.0,...,NaN,Y,7,N,N,NaN,NaN,NaN,NaN,NaN
3,1,2850.0,NaN,NaN,NaN,2.0,1.0,2007-09-01 00:00:00,NaN,516.0,...,NaN,N,090,N,N,NaN,NaN,NaN,NaN,NaN
4,1,9920.0,NaN,NaN,NaN,9.0,1.0,NaN,NaN,1871.0,...,NaN,N,NaN,N,N,NaN,NaN,NaN,NaN,NaN